<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="vendor/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="vendor/codemirror/theme/monokai.css">
    <link rel="stylesheet" href="css/view-github.css">
    <link rel="stylesheet" href="css/common.css">
</head>

<body>
<div id="code"></div>
<div id="view"></div>
<script src="vendor/jquery/jquery-2.2.4.js"></script>
<script src="vendor/codemirror/lib/codemirror.js"></script>
<script src="vendor/codemirror/addon/mode/overlay.js"></script>
<script src="vendor/codemirror/mode/xml/xml.js"></script>
<script src="vendor/codemirror/mode/markdown/markdown.js"></script>
<script src="vendor/codemirror/mode/gfm/gfm.js"></script>
<script src="vendor/codemirror/mode/javascript/javascript.js"></script>
<script src="vendor/codemirror/mode/css/css.js"></script>
<script src="vendor/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="vendor/codemirror/mode/clike/clike.js"></script>
<script src="vendor/codemirror/mode/meta.js"></script>
<script>
    var r = window.location.pathname;
    if (r == null || r == "") {
        alert("请输入文件名");
    }
    var fileId = r.replace(".md", "").replace("/", "");
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/api/open_file.json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(fileId),
            dataType: "json",
            success: function (content) {
                initEditor(content.data);
            },
            error: function (message) {
                alert(message);
            }
        });
        var markdown_to_html = function (fileid, value) {
            $.ajax({
                type: "POST",
                url: "/api/markdown_to_html.json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify([fileid, value]),
                dataType: "json",
                success: function (message) {
                    $("#view").html(message.data);
                },
                error: function (message) {
                    alert(message);
                }
            });
        };
        var initEditor = function (content) {
            var editor = CodeMirror($("#code")[0], {
                mode: 'gfm',
                lineNumbers: true,
                styleActiveLine: true,
                theme: "monokai",
                autofocus: true,
                extraKeys: {
                    "Ctrl-S": function (cm) {
                        var value = cm.getValue();
                        markdown_to_html(fileId, value);
                    }
                }
            });
            editor.setValue(content);
            editor.setSize(null, $(document).height() / 2 + 130);
            $("#view").height($(document).height() / 2 - 130).css({
                "overflow": "scroll"
            });
            if (content != "") {
                markdown_to_html(fileId, content);
            }
        };
    });
</script>
</body>

</html>